.summary-info {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;

  &__body {
    border: 1px solid var(--border-color);
    border-bottom-style: dashed;
    padding: var(--padding-space-medium) var(--padding-space-big);
    background: var(--fourth-back-color);
  }

  &__heading {
    text-transform: uppercase;
    margin: 0;
    padding-bottom: var(--padding-space-medium);
    border-bottom: 1px dashed var(--border-color);
    margin-bottom: var(--padding-space-medium);
    font-size: 1.6rem;
  }

  &__item {
    margin-bottom: var(--padding-space-medium);
  }

  &__hr {
    margin-bottom: var(--padding-space-medium);
    border: 1px dashed var(--border-color);

    &--circles {
      position: relative;
      width: 100%;
      &:before,
      &:after {
        content: "";
        transform: translateY(-50%);
        position: absolute;
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 45px;
        background: var(--main-back-color);
        z-index: 2;
        top: 50%;
      }

      &:before {
        left: -55px;
      }
      &:after {
        right: -55px;
      }
    }
  }

  &__footer {
    text-align: center;
    background: var(--third-back-color);
    padding: var(--padding-space-medium) var(--padding-space-big);
  }

  &__button {
    margin: 0 auto;
    display: inline-block;
    margin-top: 10px;
  }
}
