.movies-home__content {
  width: 100%;
  display: block;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  @media (min-width: 1200px) {
    width: calc(75% - var(--padding-space-big));
    display: inline-block;
  }
}

.movies-home__movies-list {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: var(--padding-space-big);
}
